<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        
            
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="/img/me.jpeg">
            <p id=myself>Hi i am a prefinal year student looking for internship</p>

        </div>
        {{>footer}}
    </body>
    <p id='creator'>Created by Vakul Singh</p>
</html>
