<!DOCTYPE html>
<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <div class="main-content">
        {{>header}}
        <p id='myself'>This is a website to get information about current weather.
            You just need to enter a location, to get today's weather result.
        </p>
    </div>

    {{>footer}}
</body>
<p id='creator'>Created by Vakul Singh</p>