<footer>
    {{!-- <p>Created by Vakul Singh</p> --}}
    <a href="https://www.linkedin.com/in/vakul-singh/">
        <div class="creatorsInfo">
            Linkedin Profile (click here)
        </div>
    </a>
    {{!-- <p>Created by Vakul Singh</p> --}}
    <a href="https://github.com/vakul-singh">
        <div class="creatorsInfo">
            Github projects (click here)
        </div>
    </a>
    {{!-- <p>Created by Vakul Singh</p> --}}
    <a href="https://drive.google.com/file/d/1MdzSeRV10p_-DM6UbNlgyu59RpHZnsJi/view?usp=sharing">
        <div class="resume">
            My Resume (click here)
        </div>
    </a>

</footer>